@use "helpers" as *;

body {
  display: flex;
  flex-direction: column;
  font-family: var(--font-family-base);
  font-size: clamp(14px, 0.03vw, 16px);
  font-weight: 500;
  line-height: 1.6;
  color: var(--color-gray);
  background-color: var(--color-white);
}

h1,
h2,
h3 {
  font-weight: 600;
  color: var(--color-black);
}

h1 {
  font-size: clamp(48px, 0.12vw, 96px);
  letter-spacing: -4%;
  line-height: 1;
}

h2 {
  font-size: clamp(36px, 0.09vw, 59.3px);
  letter-spacing: -2%;
  line-height: 1.2;
}

h3 {
  font-size: clamp(24px, 0.06vw, 36.65px);
  letter-spacing: -2%;
  line-height: 1.2;
}
