body {
  position: relative;
  display: flex;
  flex-direction: column;
  font-family: var(--font-family-base);
  font-size: clamp(14px, 3.6vw, 16px);
  font-weight: 500;
  font-style: normal;
  line-height: 1.6;
  color: var(--color-gray);
  background-color: var(--color-white);
}

h1,
h2,
h3 {
  font-weight: 600;
  color: var(--color-black);
}

h1 {
  font-size: clamp(48px, 12vw, 96px);
  letter-spacing: -4%;
  line-height: 1;
}

h2 {
  font-size: clamp(36px, 9vw, 59.3px);
  letter-spacing: -2%;
  line-height: 1.2;
}

h3 {
  font-size: clamp(24px, 6vw, 36.65px);
  letter-spacing: -2%;
  line-height: 1.2;
}

a,
button,
label,
input,
textarea,
select,
svg * {
  transition-duration: var(--transition-duration);
}

a {
  color: inherit;
  text-decoration: none;

  @include hover {
    color: var(--color-accent);
  }
}

:focus-visible {
  outline: 2px dashed var(--color-accent);
}
